.w3-container {
	padding: 0px !important;
	height: auto;
}

p{	
margin-bottom: 100px;
}

.introtitle {
font-size: 70px !important;
color: white;
text-align: center;
margin-top: 200px;
}

.sectiontitle {
font-size: 70px !important;
/*color: white;*/
text-align: center;
margin-top: 30px;
}

.sectiontitle1 {
font-size: 40px !important;
color: white !important;
text-align: center;
font-weight: bold;
margin-top: 20px;
}

.name{
	font-size: 50px;
	color: white;
	font-weight: bold;
	margin-bottom: 200px;
}

.myself{
	font-size: 20px !important;
	color: white;
	font-weight: bold;
	text-align: center;
}

.headings{
	font-size: 20px;
	/*color: white;*/
	font-weight: bold;
	margin-bottom: 50px;
}

.headings1{
	font-size: 30px;
	color: white;
/*	font-weight: bold;*/
	margin-bottom: 40px;
}

.fix{
	background-attachment: fixed;
}